
body:not(.edit).body_clase.content_type_curso_bc-englishonline {
  .navbar.libro,
  .navbar-bottom {
    display: none!important;
  }

  .content-wrapper {
    padding-bottom: 0;
    padding-top: 0;
  }
}
body:not(.edit).body_clase {

  .navbar.libro,
  .navbar.libro .libro-right,
  .navbar.libro .libro-left {
    background: $color_1!important;
    a {
      transition: background-color .3s linear, color .3s linear;
    }
    .blink-hover-active {
      background-color: $color_5!important;
    }
  }

  .libro-right ul li.close-back-wrapper:before,
  .libro-right ul li.close-back-wrapper:after {
    display: none;
  }

  .libro-right {
    ul {
      li {
        &:not(.close-back-wrapper):not(#enter-edit-mode) {
          display: none;
        }

        &.close-back-wrapper {
          &::after,
          &::before {
            content: none;
            display: none;
          }
        }
      }
    }
  }

}


#actividad {

  .content .header {
    border: 0;
    display: none;

    .title img,
    .chapter {
      display: none;
    }

  }

  .class_slide {
    padding: 40px;
  }

  #swipeview-slider>div {
    background: $color_2;
  }

  .carousel-inner {
    .item-container {
      background: $color_2;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .bck-title1,
  .bck-title2,
  .bck-title3 {
    @include text--title--2(true);
    span, strong {
      color: $color_1!important;
    }
  }

  .btn {
    @include button-base;
    @include text--button;
    padding: 10px 22px;
    border: 3px solid transparent;

    &.btn-danger {
      background-color: $color_4;
      color: $color_1;
      border-color: $button_border_color_4;
    }

    &.btn-primary,
    &.btn-solution {
      background: $button_background_color_4;
      color: $button_color_4;
      border-color: $button_border_color_4;

      &:hover {
        background-color: $color_3;
        color: $button_color_4;
        border-color: $color_3;
      }
    }
    &.btn-primary[disabled] {
      &, &:focus {
        background: $color_7;
        color: $color_8;
        border-color: $color_7;
      }
    }
  }

  .class_slide .review {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn.btn-danger,
    .btn.btn-solution {
      order: 2;
      flex-grow: 1;
      flex-basis: 0;
    }

    .btn-reset {
      order: 0;
      flex-grow: 1;
      flex-basis: 0;
    }

    .attemps {
      order: 1;
      margin: 0 20px;
      min-width: 33.333%;
      text-align: center;
      flex-grow: 2;
      flex-basis: 0;
    }

  }
  .content .review .attemps span {
    background: $color_1;
    color: $color_2;
  }

  .workspace.memory .front {
    background-image: none;
    background-color: $color_3;
    border-color: $color_3;
    &:hover {
      background-color: $color_5;
    }
  }
  .workspace.chooseblanks {
    .inline-answer {
      a {
        border: 2px solid $color_7;
        border-radius: 25px;
        font-weight: 400;
        padding: 2px 10px;
        &.selected {
          font-weight: 400;
        }
      }
    }
  }

  .workspace.multiple-choice {
    .opcion {
      padding: 0;
      border: 2px solid $color_1;
      border-radius: 4px;
      box-shadow: $box_shadow;
      margin-bottom: 10px;
      p {
        padding: 10px 10px 10px 50px;
      }
      &.respuesta_ko {
        position: relative;
        border-color: $color_error;
        background: transparent;
        &::before {
          @include icon;
          content: $icon-error-rounded;
          color: $color_error;
          font-size: 24px;
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translate(0, -50%);
        }
      }
      &.respuesta_ok {
        position: relative;
        border-color: $color_ok;
        background: transparent;

        &::before {
          @include icon;
          content: $icon-check-rounded;
          color: $color_ok;
          font-size: 24px;
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translate(0, -50%);
        }
      }
    }
    &.multiplechoice_horizontal {
        .opcion {
          p {
            padding: 10px 50px 10px 50px;
          }
        }
      }
  }


  .fillblanks-draggable-wrapper .response {
    padding: 4px 10px;
    border: 2px solid $color_1;
    border-radius: 4px;
    box-shadow: $box_shadow;
    color: $color_1;
  }

  .workspace.clasificar {
    .clasificar_lista .classify-item {
      padding: 4px 10px;
      border: 2px solid $color_1;
      border-radius: 4px;
      box-shadow: $box_shadow;
      color: $color_1;
    }

    .clasificar_conjuntos .conjunto .group-box {
        border: 1px solid $color_8;
        border-radius: 4px;
    }
    .clasificar_conjuntos .classify-item {
      background: transparent;
      border-radius: 0;
      margin-bottom: 10px;
    }
    .clasificar_conjuntos .group-name-top {
        text-align: center;
        font-weight: bold;
        border-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;
        width: 100%;
        padding: 20px 0px;
        margin: 0 0 15px;
        background: $color_1;
        color: $color_2;
        box-sizing: content;
    }
  }


  .workspace.matching {
    .opcion {
      padding: 0;
      border: 2px solid $color_1;
      border-radius: 4px;
      box-shadow: $box_shadow;
      margin-bottom: 10px;

      .box {
        padding: 4px;
        color: $color_1;
        transition: background-color .3s linear;
        font-weight: 400;
      }

      &.respuesta_over:not(.disabled) {
        .box {
          background-color: $color_6;
        }
      }
      &.respuesta_over.disabled {
        .box {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }
}

.texto_curso {

  a:hover, a:active, a:focus {
    color: $color_1;
  }
  table {
    th, td {
      padding: 10px;
    }
    th {
      background: $color_6;
      font-weight: bold;
    }
  }
}


.slider-control, .slider-control:focus {
  display: none!important;
}



#actividad .player.audio,
#actividad .player.video,
#help-panel-content .player,
#remote-alert-modal-rich .player {
  background: $color_4;
  color: $color_1;
  border-radius: 30px;
  width: 44px;
  height: 44px!important;
  vertical-align: middle;
  position: relative;
  &:hover {
    background-color: $color_1;
    color: $color_4;
  }
  &::before {
    @include icon();
    content: $icon-activity-audio;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
}


.checkbox-option label.filter-label,
.slides_averages #cont_checkSelfCorrect label,
.slides_averages #cont_checkEvaluation label,
.radio-option label.filter-label {
  &::before {
    display: block;
    background: $color_2;
    border: 1px solid $color_1;
    border-radius: 100px;
    width: 18px;
    height: 18px;
    left: 0;
    top: 2px;
    position: absolute;
  }
  &::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: $color_1;
    border-radius: 100px;
    opacity: 0;
    transition: opacity .3s linear;
    left: 3px;
    top: 5px;
    position: absolute;
  }
}


.checkbox-option input.filter-checkbox[type="checkbox"]:checked+label.filter-label,
.slides_averages #cont_checkSelfCorrect label,
.slides_averages #cont_checkEvaluation label,
.radio-option input.filter-radio[type="radio"]:checked+label.filter-label {
  &::after {
    opacity: 1;
  }
}


.checkbox-option input.filter-checkbox[type="checkbox"]:checked:disabled+label.filter-label,
.radio-option input.filter-radio[type="radio"]:checked:disabled+label.filter-label {
  &::before {
    border-color: $color_8;
  }
  &::after {
    background-color: $color_8;
  }
}


.revision-budget {
  display: none!important;
  visibility: hidden!important;
}


.bck-content {
  ul, ol {
    margin: 0 0 40px 0;

    li {
      margin-bottom:10px;
    }
  }
}

.foro_wiki_cke_text ul li,
.texto_curso ul li,
.workspace:not(.test) ul li ul li,
.cke_contents ul li,
.preview ul li,
.classify-item ul li,
.popover-template .popover-content ul li {
  &::before {
    background-color: $color_1;
  }
}


.bck-dropdown-icon>.fa {
  border: 3px solid $color_1;
  color: $color_1;
  font-size: 16px;
}

.bck-dropdown-titulo {
  color: $color_1;
}

.bck-dropdown-content {
  background: $color_2;
  padding: 0;
  border: 0;
  max-height: 420px;

  table {
    border: 0;
  }
}


.ias_loader .dot, #lista-actividades .dot, #lista-multimedia .dot, #blinkTransp .dot, #mensajes_list .dot, .content .dot, #destinatarios_parent .dot, #responseimg .dot {
  background-color: $color_1;
}


// Boxes
.box-1,
.box-2,
.box-3 {
  background: $color_6;
  padding: 40px;
  margin-bottom: 40px;
}
